.section6 {
  display: flex;
  padding: 4rem 10rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  background-color: rgba(30, 40, 50, 0.05);
  gap: 2.5rem;
}
.section6 h2 {
  font-weight: 500;
  font-size: 2.2rem;
}
.Section6Secment {
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}
.section6Img {
  width: 8em;
}
.section6Img img {
  width: 100%;
}
.section6Secment2 {
  width: 40%;
  font-size: 1rem;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  color: rgba(30, 40, 50, 0.5);
}
.section6Secment2 p {
  /* padding-top: 2px; */
  border-bottom: 1px solid black;
}
